.products-page {
    padding: 2rem;
    background: #e8f5e9;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .products-appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #43a047;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    color: white;
    margin-bottom: 2rem;
  }

  
  
  .products-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .search-wrapper {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 0.4rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border 0.2s ease;
  }
  
  .search-wrapper:hover,
  .search-wrapper:focus-within {
    border-color: #43a047;
  }
  
  .search-icon {
    font-size: 1.1rem;
    margin-right: 0.6rem;
    color: #777;
  }
  
  .search-input {
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
    width: 200px;
  }

  .products-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
  }
  
  
  
  .product-table {
    width: 100%;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    overflow-x: auto;
  }
  
  .table-header,
.table-row {
  display: grid;
  grid-template-columns: 60px 100px 1fr 1fr 1fr 600px 1fr; 
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

  .table-header {
    background-color: #c8e6c9;
    font-weight: bold;
    color: #388e3c; 
    border-bottom: 2px solid #388e3c;
  }
  
  .table-row:hover {
    background-color: #f1f8e9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .table-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
  }
  
  .loading {
    padding: 2rem;
    text-align: center;
    color: #555;
  }
  
  .product-actions {
    display: flex;
    gap: 0.5rem;
  }
  
  .update-btn,
  .delete-btn {
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s ease;
  }
  
  .update-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
  }
  
  .update-btn:hover {
    background-color: #388e3c;
  }
  
  .delete-btn:hover {
    background-color: #d32f2f;
  }