.product-list {
    /* padding: 2rem;   */
    background-color: #e8f5e9;
    min-height: 100vh;
    padding: 1px 0px;
  }
  
  .product-list-title {
    text-align: center;
    font-size: 2rem;
    color: #2e7d32;
    /* margin-bottom: 2rem; */
    font-weight: bold;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Show 6 items per row */
    gap: 1rem; /* Reduced gap */
    padding: 0 1rem;
  }
  
  @media (max-width: 1200px) {
    .product-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 400px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
  